In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'Data\test_jupyter.csv')

In [3]:
df

             A           B
0   13-01-2022  216.333810
1   18-01-2022  273.957988
2   18-01-2022  370.188061
3   10-01-2022  516.161316
4   28-01-2022  492.696110
5   03-01-2022  443.380260
6   28-01-2022  805.676279
7   12-01-2022  824.067358
8   25-01-2022  638.376130
9   05-01-2022  441.309374
10  01-02-2022  202.370599
11  04-01-2022  227.687685
12  13-01-2022  985.647610
13  03-01-2022  413.604557
14  07-01-2022  931.747381
15  07-01-2022  826.072042
16  20-01-2022  905.158613
17  20-01-2022   32.562275
18  28-01-2022  314.866894
19  31-01-2022  365.671853
20  01-02-2022  555.364515
21  14-01-2022  456.561082
22  01-02-2022  901.163215
23  14-01-2022  597.171286